.container {
    width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

html,body,p, h1, h2, h3, h4, h5, h6 {
    overflow-x: hidden;
    margin: 0 ;
    padding: 0 ;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #1877F2;
}

::-webkit-scrollbar-thumb:hover {
    background: #1877F2;
}